<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>REPLACE_ME</string>
	<key>BUNDLE_ID</key>
	<string>com.logikmancer.mybroker</string>
	<key>GCM_SENDER_ID</key>
	<string>137374048122</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:137374048122:ios:9120eb5e79ab31400fc0c3</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>mybroker-37298</string>
</dict>
</plist>
